/* @import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap'); */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
  h3,a,h5{
    font-family: "BodoniStd-BookItalic", serif ;
  }
  select{
    font-family: "BodoniStd-BookItalic", serif ;
    
  }
  .para{
    font-family: 'Roboto', sans-serif;
    color: #1b1b1b;
  }

}
.swiper {
    width: 100%;
    height: 600px;
  }
  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
  
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .sl-banner .swiper-button-next {
    right: 6px !important;
  }

  .swiper-button-next{
    background-color: rgba(0, 0, 0, 0.692) !important;
    -webkit-border-radius: 50% !important;
    border-radius: 50% !important;
    -webkit-box-shadow: 0 2px 4px 0 rgba(0,0,0,.16) !important;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.16) !important;
    cursor: pointer;
    display: none;
    height: 38px !important;
    line-height: 38px !important;
    margin-top: -19px !important;
    position: absolute !important;
    text-align: center !important;
    top: 50% !important;
    width: 38px !important;
    z-index: 5 !important;
  }

  .swiper-button-next::after, .swiper-rtl .swiper-button-prev::after {
    content: 'next';
    font-size: 16px !important;
    color: white !important;
    font-weight: 800 !important;

  }

  .swiper-button-prev {
    background-color: rgba(0, 0, 0, 0.692) !important;
    -webkit-border-radius: 50% !important;
    border-radius: 50% !important;
    -webkit-box-shadow: 0 2px 4px 0 rgba(0,0,0,.16) !important;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.16) !important;
    cursor: pointer;
    display: none;
    height: 38px !important;
    line-height: 38px !important;
    margin-top: -19px !important;
    position: absolute !important;
    text-align: center !important;
    top: 50% !important;
    width: 38px !important;
    z-index: 5 !important;
  }

  .swiper-button-prev::after, .swiper-rtl .swiper-button-prev::after {
    /* content: 'before'; */
    font-size: 16px !important;
    color: white !important;
    font-weight: 800 !important;

  }

.css-13cymwt-control{
  border-width: 0 !important;
}

.css-1u9des2-indicatorSeparator{
  background-color: white !important;
}